<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>검색 폼</title>

</head>

<div th:fragment="fragment-menu">
	<body>
		<div onclick="location.href='StudyTabList'">전체조회</div>
		<form action="">
			<div class="container">
				<div class="search-bar">
					<input type="text" placeholder="환자 아이디" name="pid">
					<input type="text" placeholder="환자 이름" name="pName">
					<select name="">
						<option value="0">판독 상태</option>
						<option value="1">판독</option>
						<option value="2">예비 판독</option>
					</select>
					<button type="submit">검색</button>
				</div>

				<div class="date-filters">
					<button class="active">전체</button>
					<button>1일</button>
					<button>3일</button>
					<button>1주일</button>
					<button>제설정</button>
				</div>
		</form>
</div>


</body>
</div>

</html>